.playlist-preview {
  flex: 0 0 auto;
  height: 100%;
  margin: 0px 8px 0 0;
  min-width: 0px;
  padding-inline-end: 16px;
  position: relative;
  width: 40%;

  background-color: #0000;
  // margin: 0px;
  // padding: 0px;
  text-align: center;

  &:first-child {
    margin-inline-start: -8px;
  }

  .img-container {
    margin-bottom: 16px;
    position: relative;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    padding-bottom: 100%;
    width: 100%;

    inset: 0px 0px 48px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      object-fit: cover;
      object-position: center center;
      border: 0;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }
    span {
      position: absolute;
      bottom: 8px;
      left: 8px;
      opacity: 0;
      z-index: 2;
      border-radius: 500px;
      box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
      pointer-events: none;
      transform: translateY(8px);
      transition: all 0.3s ease;
      background-color: #1db954;
      font-size: 8px;
      width: 40px;
      height: 40px;

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        height: 25px;
        width: 25px;
      }
    }
  }

  .txt-container {
    height: 48px;
    overflow: hidden;
    position: relative;
    padding-top: 8px;
    -webkit-box-align: center;
    text-align: initial;
    a {
      position: relative;
      z-index: 1;
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
      user-select: none;
      color: #fff;
      touch-action: manipulation;

      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: none;
      letter-spacing: normal;
      font-weight: 700;
      padding-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      display: none;
    }
  }

  &:hover {
    background: #282828;

    .img-container {
      span {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);

        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow) {
  .playlist-preview {
    background: #181818;
    border-radius: 10px;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
    cursor: pointer;
    &:first-child {
      margin-inline-start: 0;
    }

    .img-container {
      margin-bottom: 16px;
      position: relative;
      background-color: #333;
      border-radius: 4px;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      padding-bottom: 100%;
      width: 100%;
      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
        object-position: center center;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
      }
      span {
        position: absolute;
        bottom: 8px;
        left: 8px;
        opacity: 0;
        z-index: 2;
        border-radius: 500px;
        box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
        pointer-events: none;
        transform: translateY(8px);
        transition: all 0.3s ease;
        background-color: #1db954;
        font-size: 8px;
        width: 40px;
        height: 40px;

        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          height: 25px;
          width: 25px;
        }
      }
    }

    .txt-container {
      min-height: 62px;

      height: -1px;
      padding-top: 0;

      a {
        position: relative;
        z-index: 1;
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
        user-select: none;
        color: #fff;
        touch-action: manipulation;

        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: none;
        letter-spacing: normal;
        font-weight: 700;
        padding-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        display: inline-block;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 0.875rem;
        line-height: 1rem;
        text-transform: none;
        letter-spacing: normal;
        box-sizing: border-box;
        font-family: spotify-circular, Helvetica, Arial, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #a7a7a7;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
      }
    }

    &:hover {
      background: #282828;

      .img-container {
        span {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }
}
