.playlist {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  min-height: 300px;
  min-width: 100%;
  position: relative;

  .header {
    padding: 22px 16px 2px;
    margin: 0px;
    h2 {
      font-family: CircularStd-Black;
      color: #fff;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
      font-weight: 700;
      text-align: start;

      a {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      .header-title-web {
        display: none;
      }
    }
    p {
      display: none;
    }
  }
  ul {
    padding: 8px 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0px;
    overflow: auto hidden;
    width: 100%;
    padding-inline-start: 30px;
  }
}

.genre-page {
  padding-top: 60px;
  .header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;

    p {
      display: none;
    }
  }
  ul {
    gap: 24px;
    grid-auto-rows: auto;
  }
}

@media screen and (min-width: $break-narrow) {
  .playlist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    position: relative;

    .header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 16px;

      h2 {
        flex-grow: 1;
        min-width: 0;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -0.04em;
        text-transform: none;
        font-family: CircularStd-Black;
        color: #fff;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .header-title-web {
          display: inline-block;
        }
        .header-title-mob {
          display: none;
        }
      }
      p {
        display: inline-block;

        margin-right: 8px;
        background: #0000;
        color: #b3b3b3;
        white-space: nowrap;
        user-select: none;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: spotify-circular, Helvetica, Arial, sans-serif;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      grid-column-gap: 24px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-template-rows: 1fr;
      overflow-y: hidden;
      grid-auto-rows: 0;

      padding: 0;
    }
  }

  .genre-page {
    padding-top: 60px;
    .header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 16px;

      p {
        display: none;
      }
    }
    ul {
      gap: 24px;
      grid-auto-rows: auto;
    }
  }
}
