@font-face {
  font-family: iconSolid;
  src: url(../../fonts/icons/fa-solid-900.ttf);
}
@font-face {
  font-family: iconRegular;
  src: url(../../fonts/icons/fa-regular-400.ttf);
}

@font-face {
  font-family: CircularStd-Black;
  src: url(../../fonts/Circular/CircularStd-Black.otf);
}
@font-face {
  font-family: CircularStd-Light;
  src: url(../../fonts/Circular/CircularStd-Medium.otf);
}
